<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Home
  </title>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Please login...</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>We use Google's OAUTH2.0 to authenticate users. Please use a FCPS account!</p>
          <a href="/auth/google"><img src="/img/btn_google_signin_dark_normal_web@2x.png" width="200"></a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
      <div class="container">
        <div class="jumbotron" width="100">
          <h3 class="text-center">Please sign in</h3>
          <p class="text-center">Use an FCPS Google Account</p>
          <p class="text-center"><a href="/auth/google"><img src="/img/btn_google_signin_dark_normal_web@2x.png" width="250"></a></p>
        </div>
      </div>
  </main>

</body>

</html>

<% if(modal) { %>
<script type="text/javascript">
  $(window).on('load', function() {
    $('#exampleModal').modal('show');
  });
</script>
<% } %>
