<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>
    Roster
  </title>
  <% include ../partials/head %>
</head>

<body>
  <% include ../partials/navbar %>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">

    <div class="card mb-4">
      <div class="card-header">
        Roster
      </div>
      <div class="card-body">
        <h5 class="card-title">Staff contacts for this year:</h5>
        <iframe frameborder="0" width="100%" height="500" src="https://docs.google.com/a/fcpsschools.net/spreadsheets/d/e/2PACX-1vQVMjJ1QsZvGE3IW3ghI6OKed6Ub1FZOLrwh2zzqneCMf35dUmVwe-GWMBuvUjnmIQcclSXXtleBpvo/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
      </div>
    </div>

  </main>
</body>

</html>
